/* CHAPITRE 1 */

#chap-1 .chart-window {
    background-color: var(--Cyan-20);
    border: 2px solid var(--Black-25);
    grid-column: 2 / 10;
    display: flex;
    flex-direction: column;
}

#chap-1 .controller-window {
    grid-column: 10 / 12;
    background-color: var(--Black-25);
    display: flex;
    flex-direction: column;
    height: auto;
    border: 2px solid var(--White-5);
    color: var(--White);
    box-sizing: border-box;
}

.chart-container {
    align-self: stretch;
    flex-grow: 1;
}

#chap-1 .controller-window .window-titlebar {
    border-bottom: 0px;
    background-color: var(--Black-25);
    color: var(--White);
    border-bottom: 2px solid var(--White-5);
}

/* Chart & Controller */

#song-duration {
    border-radius: 8px;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
}

.slider-rail {
    height: 100%;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    position: relative;
}

.year-slider {
    writing-mode: vertical-lr;
    direction: rtl;
    height: 100%;
    width: 100%;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    accent-color: var(--White);
    cursor: pointer;
}

/* Curseur - Slider Thumb */
.slider-container {
    --track-width: 8px;
    --thumb-height: 40px;
    --thumb-width: 24px;
}

.year-slider::-webkit-slider-thumb {
    appearance: none;
    width: var(--thumb-width);
    height: var(--thumb-height);
    border-radius: 4px;
    margin-left: calc((var(--track-height) / 2) - (var(--thumb-height) / 2));
    background: url(../assets/media/Curseur.svg) no-repeat center center;
}

.year-slider::-moz-range-thumb {
    appearance: none;
    width: var(--thumb-width);
    height: var(--thumb-height);
    border-radius: 4px;
    margin-left: calc((var(--track-height) / 2) - (var(--thumb-height) / 2));
    background: url(../assets/media/Curseur.svg) no-repeat center center;
    cursor: pointer;
}

.year-slider::-ms-thumb {
    width: var(--thumb-width);
    height: var(--thumb-height);
    border-radius: 4px;
    margin-left: calc((var(--track-height) / 2) - (var(--thumb-height) / 2));
    background: url(../assets/media/Curseur.svg) no-repeat center center;
    cursor: pointer;
}

/* Rail - Slider Track */
.year-slider::-webkit-slider-runnable-track {
    background: var(--White-5);
    width: var(--track-width);
    border-radius: 8px;
}

.year-slider::-moz-range-track {
    background: var(--White-5);
    width: var(--track-width);
    border-radius: 8px;
}

.year-slider::-ms-fill-lower {
    background: var(--White-5);
    border-radius: 8px;
}

/* Légende du slider */

.ticks {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    box-sizing: border-box;
    padding-top: 36px;
    padding-bottom: 32px;
}

.ticks span {
    display: block;
    font-size: .875rem;
    color: var(--White-25);
    font-family: "Geist Mono", monospace;
}

/* Trivia */

#chap-1 .longuest-song {
    grid-column: 4 / 12;
}

.first-year,
.last-year {
    position: absolute;
}

#chap-1 .chart-container canvas {
    aspect-ratio: auto;
    height: 672px;
}