/*partie graphique dans le chapitre 2*/

#chap-2 .chart .chart-window {
  grid-column: 2 / 8;  
}

#chap-2 .chart h3 {
  grid-column: 8 / 12;
}

#chap-2 .window-titlebar {
  border-bottom: 2px solid var(--Black-25);
  background: var(--Cyan-50);
  padding: 24px;
  color: var(--Black-25);
}


