/*introduction*/


.introduction-section {
  background-color: var(--Cyan-20);
  border: 2px solid var(--Black-25);
  border-radius: 16px;
  margin: 172px 200px;
  overflow: hidden; /* arrondis propres */
}


.window-bar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: var(--Black-25);
  color: var(--Dark-Cyan);
  padding: 20px 16px;
}

/* titres et texte */
.introduction h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--White);
  margin: 40px 50px 20px;
}

.introduction p {
  color: var(--White);
  font-size: 1rem;
  line-height: 1.3;
  margin: 0 50px 70px;
  max-width: 700px;
}



/*partie graphique dans le chapitre 2*/

.chart2 .chart-window {
  grid-column: 2 / 7;  
}

.chart2 h3 {
  grid-column: 8 / 13;

}


/*conclusion*/

#conclusion-section .conclusion {
  grid-column: 4 / 12;
}


