
#chap-2 .chart {
  align-items: stretch;
  height: 60svh;
}

#chap-2 .chart .aside {
  grid-column: 8 / 12;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chap-2 .window-titlebar {
  border-bottom: 2px solid var(--Black-25);
  background: var(--Black-50);
  padding: 24px;
}

#chap-2 #featuring {
  will-change: transform;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  pointer-events: auto;
  touch-action: none;
  width: 100%;
  height: 100%;
}

#chap-2 #chart-container {
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  padding: 16px;
}

#chap-2 .chart-window {
  contain: layout style paint;
  isolation: isolate;
  background: var(--Black-25);
  grid-column: 2 / 8;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

