:root {
    --Light-Cyan: #52F3FF;
    --Cyan: #00E5FF;
    --Cyan-25: rgba(0, 238, 255, 0.25);
    --Dark-Cyan: #335B68;
    --Dark-Cyan-50: #335b6880;
    --Pink: #FF5CF1;
    --Light-Pink: #FF7DF4;

    --White: #FFFFFF;
    --White-5: rgba(255, 255, 255, 0.05);
    --White-25: rgba(255, 255, 255, 0.25);
    --White-50: rgba(255, 255, 255, 0.50);
    --Black: #23232a;
    --Black-50: rgba(31, 31, 38, 0.5);
    --Black-25: rgba(31, 31, 38, 0.25);
    --Black-12: rgba(31, 31, 38, 0.125);
    --Dark-Grey: #4f525d;
    --Grey: #666979;
    --Mid-Grey: #6c707f;
    --Light-Grey: #84889b;
    --Super-Light-Grey: #dfe0e2;

    --Grid-Margin: 8rem;
    --Grid-Gutter: 2.5rem;
    --Spacing-S: 2rem;
    --Spacing-M: 18svh;
    --Spacing-L: 32svh;

    --Heading-Font: 'Unbounded', system-ui, sans-serif;
    --Body-Font: 'Vercetti', system-ui, sans-serif;
    --Display-Font: 'Geist Mono', monospace;
}

#song-duration {
    background-color: var(--Black);
}

/* Global */

@font-face {
    font-family: Vercetti;
    src: url(../assets/fonts/Vercetti-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--Heading-Font);
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.92px;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    /* line-height: 120%;*/
    letter-spacing: -1.6px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.28px;
    margin: 0;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.28px;
    margin: 0;
}

.big-data {
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 2.5rem;
}

a {
    color: var(--White);
}

.pill a {
    color: var(--Black);
}

.reference {
    text-decoration: dotted;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    font-family: var(--Body-Font);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--Cyan);
}

main {
    background: linear-gradient(180deg, var(--Cyan) 0%, var(--Dark-Cyan) 53.57%, var(--Dark-Cyan) 69.64%, var(--Light-Pink) 100%);
    padding: 0px var(--Grid-Margin);
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: visible;
}

@media (max-width: 960px) {
    main {
        padding: 0px 2rem;
    }
}

article {
    background: var(--Black-25);
    width: 100%;
    max-width: 1280px;
    border-radius: 40px 40px 0 0;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Spacing-L);
    /* border: 2px solid var(--White-5); */
    box-sizing: border-box;
    box-shadow: 0 48px 64px 0 var(--Black-12);
}

p {
    margin: 0;
    color: var(--Super-Light-Grey);
}

.hidden {
    display: none;
}

.chapter-number,
.window-title,
.pill,
.scroll-down p {
    font-family: var(--Display-Font);
    text-transform: uppercase;
    font-weight: 600;
    line-height: 100%;
}

.chart-window, article,
.controller-window, .intro-window,
.trackhead, .trivia-card {
    backdrop-filter: blur(24px);
    /* mix-blend-mode: hard-light; */
}

/* POUR TOUS LES CHAPITRES */

/* Classes à appliquer aux textes */

.chapter-number {
    color: var(--Cyan);
    font-size: 1.5rem;
    letter-spacing: -0.96px;
    grid-column: 2 / 3;
}

.description h2 {
    margin-top: .5rem;
    grid-column: 2 / 8;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.chart h3 {
    grid-column: 2 / 9;
    text-wrap: balance;
    margin-bottom: var(--Spacing-S);
}

.chapter {
    display: flex;
    flex-direction: column;
    gap: var(--Spacing-M);
    /* margin-bottom: var(--Spacing-L); */
    scroll-margin-top: 96px;
}

.chapter > section, section.intro, section.conclusion .content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--Grid-Gutter);
}

.chapter > section > *{
    grid-column-start: 2;
}

.description-content {
    display: grid;
    width: 100%;
    column-gap: var(--Grid-Gutter);
    flex-shrink: 0;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column: 2 / 12;
}

.chapter .trivia {
    row-gap: var(--Spacing-S);
    /* column-gap: 12svh;   */
}

/* Classes à appliquer aux widgets (graphiques, contrôleurs, etc.)  */

/* Fenêtres */

.chart-window {
    overflow: hidden;
    border-radius: 16px;
    padding: 1rem;
}

.controller-window {
    overflow: hidden;
    border-radius: 16px;
}

/* Entête de la fenêtre */
.window-titlebar {
    padding: 24px;
    overflow: hidden;
}

/* Titre de l'entête */
.window-title {
    font-size: 1rem;
    letter-spacing: -0.64px;
    position: relative;
    display: block;
    opacity: .5;
}

.chart-window .window-title {
    margin-top: 8px;
    margin-bottom: 24px;
}

/* Classes à appliquer au Trivia */
.trivia h3 {
    grid-column: 2 / 6;
}

.trivia-card {
    background-color: var(--Black-25);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    grid-column-end: span 8;
    overflow: hidden;
    border: 2px solid var(--Black-25);
    box-sizing: border-box;
}

.trivia-card .info {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 16px;
    height: auto;
}

.trivia-card .preview {
    overflow: clip;
    box-sizing: border-box;
    flex-grow: 0;
    align-self: stretch;
    padding: 0 1.25rem 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.trivia-card.right {
    grid-column: 4 / 12;
}

.trivia-card .preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    aspect-ratio: 2.35 / 1;
}

.pill {
    background-color: var(--Cyan);
    color: var(--Black);
    padding: 4px 8px;
    border-radius: 4px;
    width: fit-content;
}



/*** FOOTER ***/
footer {
    height: 50svh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: end;
    background: linear-gradient(0deg, var(--Cyan) 0% , var(--Pink) 100%);
}

/* Conteneur global */
.footer-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

/* Logo à gauche */
.footer-logo img {
    height: 40px;
    width: auto;
}

/* Texte centré + mentions à droite */
.footer-text {
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 40px;
    flex: 1;
    text-align: right;
}

/* Copyright + mentions légales */
.copyright,
.popup-mentions {
    color: var(--Black);
    font-size: 0.95rem;
    margin: 0;
}

/* Interaction du lien */

.popup-mentions:hover {
    opacity: 0.7;
}


/*** POPUP ***/
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup {
    background: white;
    padding: 30px;
    /*max-width: 1000px;*/
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.popup p {
    margin-bottom: 35px;
}

.popup h2 {
    margin-top: 10px;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}



/***NAV***/

.navigation {
    position: fixed;
    bottom: 0;
    left: 500px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 15px 0;
}

.menu {
    display: flex;
    align-items: center;
    background-color: #252527;
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding: 8px 30px;
    gap: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.152);
}

.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#ffffff, #00EEFF);
    height: 48px;
    width: 48px;
    border-radius: 8px;
}

.menu a {
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s;
}

.menu a:hover {
    color: pink;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}