:root {
    --Light-Cyan: #52F3FF;
    --Cyan: #00E5FF;
    --Cyan-20: rgba(0, 238, 255, 0.20);
    --Dark-Cyan: #335B68;
    --Dark-Cyan-50: #335b6880;
    --Pink: #FF5CF1;
    --Light-Pink: #FF7DF4;

    --White: #FFFFFF;
    --White-5: rgba(255, 255, 255, 0.05);
    --White-25: rgba(255, 255, 255, 0.25);
    --White-50: rgba(255, 255, 255, 0.50);
    --Black: #23232a;
    --Black-50: rgba(31, 31, 38, 0.5);
    --Black-25: rgba(31, 31, 38, 0.25);
    --Black-12: rgba(31, 31, 38, 0.0125);
    --Dark-Grey: #4f525d;
    --Grey: #666979;
    --Mid-Grey: #6c707f;
    --Light-Grey: #84889b;
    --Super-Light-Grey: #dfe0e2;

    --Grid-Margin: 8rem;
    --Grid-Gutter: 2.5rem;
    --Spacing-S: 2rem;
    --Spacing-M: 25svh;
    --Spacing-L: 40svh;

    --Heading-Font: 'Unbounded', system-ui, sans-serif;
    --Body-Font: 'Vercetti', system-ui, sans-serif;
    --Display-Font: 'Geist Mono', monospace;
}

#song-duration {
    background-color: var(--Black);
}

/* Global */

@font-face {
    font-family: Vercetti;
    src: url(../assets/fonts/Vercetti-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--Heading-Font);
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.92px;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    /* line-height: 120%;*/
    letter-spacing: -1.6px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.28px;
    margin: 0;
}

body {
    color: white;
    font-family: var(--Body-Font);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    background: linear-gradient(180deg, var(--Branding-Cyan, #0EF) 0%, var(--Branding-Dark-Cyan, #335B68) 53.57%, var(--Branding-Dark-Cyan, #335B68) 69.64%, var(--Branding-Light-Pink, #FF7DF4) 107.13%);
    padding: 0px var(--Grid-Margin);
    display: flex;
    justify-content: center;
}

@media (max-width: 960px) {
    main {
        padding: 0px 2rem;
    }
}

article {
    background: var(--Black-25);
    width: 100%;
    max-width: 1280px;
    border-radius: 40px 40px 0 0;
    position: relative;
    z-index: 0;
}

p {
    margin: 0;
    color: var(--Super-Light-Grey);
}

.chapter-number,
.window-title, 
.pill, 
.scroll-down p {
    font-family: var(--Display-Font);
    text-transform: uppercase;
    font-weight: 600;
    line-height: 100%;
}

.chart-window, .controller-window, .trackhead {
    backdrop-filter: blur(24px);
}

/* POUR TOUS LES CHAPITRES */

/* Classes à appliquer aux textes */

.chapter-number {
    color: var(--Cyan);
    font-size: 1.5rem;
    letter-spacing: -0.96px;
    grid-column: 2 / 3;
}

.description h2 {
    margin-top: .5rem;
    grid-column: 2 / 8;
}

.chart h3 {
    grid-column: 2 / 9;
    text-wrap: balance;
    margin-bottom: var(--Spacing-S);
}

.chapter {
    display: flex;
    flex-direction: column;
    gap: var(--Spacing-M);
    margin-bottom: var(--Spacing-L);
}

.chapter > section, .chapter .trivia {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--Grid-Gutter);
}

.chapter > section > *, .chapter .trivia > * {
    grid-column-start: 2;
}

.description-content {
    display: grid;
    width: 100%;
    column-gap: var(--Grid-Gutter);
    flex-shrink: 0;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column: 2 / 12;
}

.trivia {
    row-gap: var(--Spacing-S);
}

/* Classes à appliquer aux widgets (graphiques, contrôleurs, etc.)  */

/* Fenêtres */

.chart-window {
    overflow: hidden;
    border-radius: 16px;
    padding: 1rem;
}

.controller-window {
    overflow: hidden;
    border-radius: 16px;
}

/* Entête de la fenêtre */
.window-titlebar {
    padding: 24px;
    overflow: hidden;
}

/* Titre de l'entête */
.window-title {
    font-size: 1rem;
    letter-spacing: -0.64px;
    position: relative;
    display: block;
    opacity: .5;
}

.chart-window .window-title {
    margin-top: 8px;
    margin-bottom: 24px;
}

/* Classes à appliquer au Trivia */

.trivia h2 {
    display: none;
}

.trivia-card {
    background-color: var(--Black-25);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    grid-column-end: span 8;
    overflow: hidden;
    border: 2px solid var(--Black-25);
    box-sizing: border-box;         
}

.trivia-card .info {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 1rem;
    height: auto;
}

.trivia-card .preview {
    overflow: clip;
    box-sizing: border-box;
    flex-grow: 0;
    align-self: stretch;
}

.trivia-card .preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    aspect-ratio: 2.35 / 1;
}

.pill {
    background-color: var(--Cyan);
    color: var(--Black);
    padding: 4px 8px;
    border-radius: 4px;
    width: fit-content;
}