/* == HERO == */

header {
    width: 100dvw;
    height: 112.5dvh;
    position: relative;
    overflow: hidden;
}

header h1 {
    margin: 0;
    text-align: center;
    color: var(--Black);
}

.title-wrapper {
    max-width: 832px;
    width: 80%;
    top: 96px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: -1;
}

.wallpaper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    top: 0;
    pointer-events: none;
}

.gradient.wallpaper {
    background: linear-gradient(180deg, var(--Cyan, #0EF) 0%, var(--Pink, #FF5CF1) 100%);
}

a.scroll-down {
    color: var(--Black);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 128px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    opacity: .8;
    transition: all ease-in-out .3s;
    font-size: 0.875rem;
}

a.scroll-down:hover {
    opacity: 1;
}

a.scroll-down p {
    color: inherit;
}

a.scroll-down .icon {
    width: 24px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    stroke: var(--Black);
    stroke-width: 2px;
}

#stats-up {
    position: absolute;
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
}

#stream-stats {
    position: absolute;
    top: 480px;
    right: 153px;
    animation-delay: 3s;
    z-index: 0;
}

#view-stats {
    position: absolute;
    top: 240px;
    left: 115px;
    animation-delay: 1s;
    z-index: 0;
}

#stats-wave {
    width: 100%;
    position: absolute;
    z-index: 1;
    object-fit: contain;
    bottom: 0;
}

#front {
    position: absolute;
    z-index: 2;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 2rem;
    box-sizing: border-box;
    max-width: 95vw;
    -webkit-mask-image: linear-gradient(black 75%, transparent);
    mask-image: linear-gradient(black 75%, transparent);
}

#flashes {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    object-fit: cover;
    top: 0;
    animation: Flashing 2s ease-in-out infinite alternate;
}

.hero {
    overflow: hidden;
    height: 100%;
    background: url('../assets/media/hero/Star Pattern.svg') repeat;
    background-size: 48px;
    pointer-events: none;
}

/* == FOND PISTES AUDIO == */

.trackhead {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--Grid-Gutter);
    row-gap: 80px;
    padding-top: 88px;
    border: 1px solid var(--White-25);
    border-radius: 40px 40px 0 0;
    background: var(--Black-12);
    box-sizing: border-box;
    z-index: 3;
    position: relative;
    width: 100%;
}

.trackhead .icons {
    grid-column: 2 / 12;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.trackhead .logo {
    height: 40px;
}

.trackhead .track-heads {
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: var(--Grid-Gutter);
}

.trackhead .track-heads svg {
    grid-column: span 1;
}

.track-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--Grid-Gutter);
    top: 0%;
    pointer-events: none;
}

.track-channel {
    border-right: 2px solid var(--white-5, rgba(255, 255, 255, 0.05));
    border-left: 2px solid var(--white-5, rgba(255, 255, 255, 0.05));
    grid-column: span 2;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.track-channel:nth-child(1) {
    grid-column: 2 / 4;
}

/* ANIMATION */

@keyframes Flashing {
    from {
        opacity: 0.6;
        filter: blur(12px);
    }

    to {
        opacity: 1;
        filter: blur(4px);
    }
}

@keyframes MoveUpDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(15%);
  }
}

.moveupdown {
    animation: MoveUpDown 8s ease-in-out infinite alternate;
}
