/* HERO */

header {
    width: 100dvw;
    height: 100dvh;
    background: linear-gradient(180deg, var(--Cyan, #0EF) 0%, var(--Pink, #FF5CF1) 100%);
    position: relative;
    overflow: hidden;
}

header h1 {
    margin: 0;
    text-align: center;
}

.title-wrapper {
    max-width: 740px;
    width: 80%;
    position: absolute;
    top: 96px;
    left: 50%;
    transform: translateX(-50%);
}

a.scroll-down {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

a.scroll-down p {
    color: inherit;
}

a.scroll-down img {
    width: 24px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#stats-up {
    position: absolute;
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
}

#stream-stats {
    position: absolute;
    top: 357px;
    right: 153px;
    animation-delay: 3s;
    z-index: 0;
}

#view-stats {
    position: absolute;
    top: 240px;
    left: 115px;
    animation-delay: 1s;
    z-index: 0;
}

#stats-wave {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    object-fit: cover;
    bottom: 0;
}

#front {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#flashes {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    object-fit: cover;
    top: 0;
    animation: Flashing 2s ease-in-out infinite alternate;
}

.hero {
    overflow: hidden;
    height: 100%;
    background: url('../assets/media/hero/Star Pattern.svg') repeat;
    background-size: 48px;
}

.trackhead {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--Grid-Gutter);
    padding-top: 64px;
    border: 2.5px solid var(--Black-12);
    border-radius: 40px 40px 0 0;
    background: linear-gradient(180deg, rgba(51, 91, 104, 0.50) 0%, rgba(85, 86, 92, 0.50) 100%);
    box-sizing: border-box;
    z-index: 3;
    position: relative;
}

#head-content {
    width: 100%;
    bottom: 0;
    position: relative;
    grid-column: 2 / 12;
}

.track-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--Grid-Gutter);
    top: 0%;
    pointer-events: none;
}

.track-channel {
    border-right: 2px solid var(--white-5, rgba(255, 255, 255, 0.05));
    border-left: 2px solid var(--white-5, rgba(255, 255, 255, 0.05));
    grid-column: span 2;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.track-channel:nth-child(1) {
    grid-column: 2 / 4;
}

/* ANIMATION */

@keyframes Flashing {
    from {
        opacity: 0.6;
        filter: blur(12px);
    }

    to {
        opacity: 1;
        filter: blur(4px);
    }
}

@keyframes MoveUpDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(15%);
  }
}

.moveupdown {
    animation: MoveUpDown 8s ease-in-out infinite alternate;
}
