/*introduction*/

.intro-window {
  grid-column: 4 / 10;
  background-color: var(--Dark-Cyan-50);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 96px 0 var(--Cyan-25, rgba(0, 238, 255, 0.20));
}

.intro .content {
  padding: 3rem 4rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.intro .window-title {
  background-color: var(--Dark-Cyan);
  color: var(--White-25);
  border: 2px solid var(--Black-25);
  padding: 24px;
  border-radius: 16px 16px 0 0;
}

/* titres et texte */
.intro-window h2, .conclusion h2 {
  margin: 0;
}

/*conclusion*/

section.conclusion {
  height: 50svh;
  width: 100svw;
  position: relative;
  background: linear-gradient(180deg, rgba(255, 92, 241, 0.00) 0%, var(--Pink) 100%);
  color: var(--Black);
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.conclusion p {
  grid-column: 4 / 10;
  color: inherit;
}

.conclusion h2 {
  grid-column: 4 / 10;
   height: auto;
}

section.conclusion .content {
  max-width: 1280px;
  row-gap: 24px;
}