/*introduction*/

.intro-window {
  grid-column: 4 / 10;
  background-color: var(--Dark-Cyan-50);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 240px 0 var(--Super-Light-Pink);
}

.intro .content {
  padding: 3rem 3.5rem 3.5rem 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  text-wrap: balance;
}

.intro .content > * {
  width: 100%;
}

.intro .window-titlebar {
  background-color: var(--Dark-Cyan);
  color: var(--White-25);
  border: 2px solid var(--Black-25);
  padding: 24px;
  border-radius: 16px 16px 0 0;
}

.intro-window h2, .conclusion h2 {
  margin: 0;
}

.intro .content p {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section.intro {
  scroll-margin-top: 220px;
}

/*conclusion*/

section.conclusion {
  width: 100svw;
  position: relative;
  background: linear-gradient(180deg, rgba(255, 92, 241, 0.00) 0%, var(--Pink) 100%);
  color: var(--Black);
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: end;
  overflow-x: hidden;
  text-align: center;
  text-wrap: balance;
  align-items: center;
  padding-top: var(--Spacing-M);
}

section.conclusion .content {
  width: 100vw;
  max-width: 1280px;
  row-gap: 24px;
  padding: 0px 2rem;
}

.conclusion p {
  grid-column: 4 / 10;
  color: inherit;
}

.conclusion h2 {
  grid-column: 4 / 10;
   height: auto;
}